
*.dll
*.lib
moc_*
*.pch
qrc_*
ui_*
*.exe
*.ilk
*.pdb
*.exp
*.prf
*.pro.user
*.sdf
*.log
*.tlog
*.obj
*.ipch
Eigen/
!Eigen/Eigen
QWT/
!QWT/src
*/debug/*
*/relese/*
*/*Win32*/*
*/Debug/*
*/Release/*
*.opensdf
*.suo
OptimaPlotter/OptimaPlotter.suo
*.aps
*.qm
