
*.dll
*.lib
moc_*
*.pch
qrc_*
ui_*
*.exe
*.ilk
*.pdb
*.exp
*.prf
*.pro.user
*.sdf
*.log
*.tlog
*.obj
*.ipch
Eigen/*
!Eigen/Eigen/
QWT/*
!QWT/src/
QWT/src/release/*
QWT/src/debug/*
!QWT/examples/
QWT/examples/*
!QWT/examples/event_filter/

QWT/examples/event_filter/[Dd]ebug/*
QWT/examples/event_filter/[Rr]elease/*

QWT/examples/event_filter/event_filter/[Dd]ebug/*
QWT/examples/event_filter/event_filter/[Rr]elease/*

*/[Dd]ebug/*
*/[Rr]elease/*
*/*[Ww]in32*/*

*.opensdf
*.suo
OptimaPlotter/OptimaPlotter.suo
Win32/
Win32_QtCreator/
*.aps
*.lastbuildstate
