
*.dll
*.lib
moc_*
*.pch
qrc_*
ui_*
*.exe
*.ilk
*.pdb
*.exp
*.prf
*.pro
*.pri
*.sdf
*.log
*.tlog
*.obj
*.ipch
Eigen/
QWT/
*/Debug/*
*/Release/*
*.opensdf
*.suo
OptimaPlotter/OptimaPlotter.suo
*.aps
*.qm
